# Directories
.vs/
Binaries/
Raycaster-Core/Source/Libraries/
Raycaster-Core/Dependencies/
Raycaster-Core/obj/
Raycaster-App/obj/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Exclude
!Vendor/Binaries